html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(32, 32, 32);
  /* width: 120rem; */
  margin: 5rem 0;
}

.container {
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  justify-content: center;
}

.canvas {
  width: 80vb;
  border: 10px solid rgb(0, 0, 0);
  border-radius: 100%;
}

.spin-btn {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 40%;
  transform: translate(0, -50%);
  background-color: rgb(1, 6, 15);
  color: azure;
  border: none;
  font-size: 3rem;
  padding: 1rem 2rem;
  margin: 5rem 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.spin-btn svg {
  width: 7rem;
  height: 7rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.spin-btn:hover {
  background-color: rgb(41, 40, 40);
}
