html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  /* margin: 5rem 0; */
}

.container {
  margin: 0 auto;
  max-width: 100rem;
  display: flex;
  justify-content: center;
}

.canvas {
  width: 80vb;
  border: 10px solid rgb(32, 32, 32);
  border-radius: 100%;
}

.clock {
  color: black;
  background-color: rgba(240, 248, 255, 0.767);
  font-size: 4rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 3rem 0;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 1px 1px 50px rgb(122, 122, 122);
}

.spin-btn {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 40%;
  transform: translate(0, 10%);
  background-color: rgb(41, 40, 40);
  color: azure;
  border: none;
  font-size: 3rem;
  padding: 1rem 2rem;
  margin: 5rem 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.spin-btn svg {
  width: 7rem;
  height: 7rem;
  position: absolute;
  transform: translate(-50%, -50%);
}

.spin-btn:hover {
  background-color: black;
}

.oppertunity {
  color: aliceblue;
  font-size: 4rem;
}

.lights {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.light-1 {
  background-color: green;
  width: 3rem;
  height: 3rem;
  border: 3px solid black;
  border-radius: 50%;
}

.light-2 {
  background-color: green;
  width: 3rem;
  height: 3rem;
  border: 3px solid black;
  border-radius: 50%;
}

.light-3 {
  background-color: green;
  width: 3rem;
  height: 3rem;
  border: 3px solid black;
  border-radius: 50%;
}

.light-4 {
  background-color: green;
  width: 3rem;
  height: 3rem;
  border: 3px solid black;
  border-radius: 50%;
}

.light-5 {
  background-color: green;
  width: 3rem;
  height: 3rem;
  border: 3px solid black;
  border-radius: 50%;
}
